# Data Science Tools and Ecosystem

In this notebook, tools and the ecosystem for Data Science are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Demonstrate how to evaluate arithmetic expressions in Python

Some popular languages that Data Scientists use are:

1. Python
2. SQL (Structured Query Language)
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Plotly

|Data Science Tools |
|-----|
|Jupyter Notebook|
|RStudio|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes/60
print(minutes, "minutes =", hours, "hours")

200 minutes = 3.3333333333333335 hours

## Author

LT